@import "tailwindcss";

 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground); 
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-space-grotesk), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground); 
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(4deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}



.plus-icon {
  animation: spinBack 0.8s ease-in-out forwards;
}

.group:hover .plus-icon {
  animation: spinForward 0.8s ease-in-out forwards;
}

@keyframes spinForward {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1080deg);
  }
}

@keyframes spinBack {
  from {
    transform: rotate(1080deg);
  }

  to {
    transform: rotate(0deg);
  }
}